<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BloodyBudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRequestServlet</display-name>
    <servlet-name>CreateRequestServlet</servlet-name>
    <servlet-class>servlets.CreateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRequestServlet</servlet-name>
    <url-pattern>/CreateRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateInterestServlet</display-name>
    <servlet-name>CreateInterestServlet</servlet-name>
    <servlet-class>servlets.CreateInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateInterestServlet</servlet-name>
    <url-pattern>/CreateInterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequestServlet</display-name>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <servlet-class>servlets.DeleteRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <url-pattern>/DeleteRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequestServlet</display-name>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <servlet-class>servlets.UpdateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <url-pattern>/UpdateRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInterestServlet</display-name>
    <servlet-name>DeleteInterestServlet</servlet-name>
    <servlet-class>servlets.DeleteInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInterestServlet</servlet-name>
    <url-pattern>/DeleteInterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeenAllInterestServlet</display-name>
    <servlet-name>SeenAllInterestServlet</servlet-name>
    <servlet-class>servlets.SeenAllInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeenAllInterestServlet</servlet-name>
    <url-pattern>/SeenAllInterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateChatRoomServlet</display-name>
    <servlet-name>CreateChatRoomServlet</servlet-name>
    <servlet-class>servlets.CreateChatRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateChatRoomServlet</servlet-name>
    <url-pattern>/CreateChatRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentMessageServlet</display-name>
    <servlet-name>SentMessageServlet</servlet-name>
    <servlet-class>servlets.SentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMessageServlet</servlet-name>
    <url-pattern>/SentMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeenChatRoomServlet</display-name>
    <servlet-name>SeenChatRoomServlet</servlet-name>
    <servlet-class>servlets.SeenChatRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeenChatRoomServlet</servlet-name>
    <url-pattern>/SeenChatRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileDetailServlet</display-name>
    <servlet-name>UpdateProfileDetailServlet</servlet-name>
    <servlet-class>servlets.UpdateProfileDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileDetailServlet</servlet-name>
    <url-pattern>/UpdateProfileDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>servlets.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LogInFilter</display-name>
    <filter-name>LogInFilter</filter-name>
    <filter-class>helper.LogInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogInFilter</filter-name>
    <url-pattern>/LogInFilter</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/chat.jsp</url-pattern>
    <url-pattern>/create_request.jsp</url-pattern>
    <url-pattern>/find_donor.jsp</url-pattern>
    <url-pattern>/message.jsp</url-pattern>
    <url-pattern>/my_interest.jsp</url-pattern>
    <url-pattern>/my_request.jsp</url-pattern>
    <url-pattern>/notification.jsp</url-pattern>
    <url-pattern>/profile.jsp</url-pattern>
    <url-pattern>/update_request.jsp</url-pattern>
    <url-pattern>/CreateCharRoomServlet</url-pattern>
    <url-pattern>/CreateInterestServlet</url-pattern>
    <url-pattern>/CreateRequestServlet</url-pattern>
    <url-pattern>/DeleteInterestServlet</url-pattern>
    <url-pattern>/DeleteRequestServlet</url-pattern>
    <url-pattern>/SeenAllInterestServlet</url-pattern>
    <url-pattern>/SeenChatRoomServlet</url-pattern>
    <url-pattern>/SentMessageServlet</url-pattern>
    <url-pattern>/UpdateProfileDetailServlet</url-pattern>
    <url-pattern>/UpdateRequestServlet</url-pattern>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </filter-mapping>
</web-app>